@charset "utf-8";

html {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

body {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 10px;
    background-color: rgb(31, 31, 31);
}

#users {
    display: flex;
    flex-shrink: 0;
    overflow-x: scroll;
    overflow-y: clip;
    white-space: nowrap;
    width: calc(100% - 40px);
    max-width: 720px;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: rgb(47, 47, 47);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px black;
}

    #users label {
        width: auto;
        height: auto;
        margin: 0px 5px;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.25);
        color: rgb(223, 223, 223);
        font-weight: bold;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }

    #users input:checked + label {
        background: rgba(127, 191, 255, 0.25);
    }

    #users input {
        display: none;
    }

#tweets {
    overflow-x: clip;
    overflow-y: scroll;
    width: calc(100% - 40px);
    max-width: 720px;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: rgb(39, 47, 55);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px black;
}

.tweet {
    display: flex;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    color: rgb(223, 223, 223);
    border-radius: 2px;
}

.icon {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    border: solid;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.25);
}

.content {
    overflow: clip;
    flex-grow: 1;
    width: 0px;
}

.name-at {
    white-space: nowrap;
    margin-bottom: 5px;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.massage {
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}
